.paginationButtons{
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
}

.paginationButtons button{
    padding: 8px;
    margin: 8px;
    border: 1px solid #2b2b2b;
    border-radius: 5px;
    color: #2b2b2b;
    cursor: pointer;
}

.paginationButtons button:hover{
    color: #f5f4f0;
    background-color: #2b2b2b;
}