.navBar{
    margin-top: 1em;
    padding: 0;
    background: #f5f4f0;
    position: fixed;
    height: 100%;
    width: 200px;
    overflow: auto;
}

.navList ul{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 2; 
    display: flex;
    flex-direction: column;
}

.navList li{
    list-style: none;
}

.navList li a{
    display: block;
    height: 30px;
    padding: 15px;
    font-size: 20px;
    font-weight: 300;
    color: #2b2b2b;
}

.navList li a:hover{
    background: #2b2b2b;
    color: #f5f4f0;
}

@media (max-width: 700px) {
    .navBar{
        display: none;
    }

    .navBar#hidden{
        position: absolute;
        left: 0;
        top: 64px;
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2b2b2b;
        z-index: 1;
    }

    .navList{
        width: 100%;
    }

    .navList ul{
        width: 100%;
    }

    .navList li{
        text-align: center;
    }

    .navList li a{
        padding: 0.5rem 1rem;
        font-size: 20px;
        color: #f5f4f0;
    }

    .navList li a:active{
        background-color: #f5f4f0;
        color: #2b2b2b;
    }
}
