.navBar{
    padding: 1em;
    background: #f5f4f0;
    
    @media (max-width: 700px) {
        paddding-top: 64px;
    }

    @media (min-width: 700px) {
        position: fixed;
        width: 220px;
        height: calc(100% - 64px);
        overflow-y: scroll;
    }
}

.navList{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 2;
}

a{
    font-size: 20px;
    font-weight: 300;
    color: #2b2b2b;
}