.heading{
    text-align: center;
    color: #282828;
}

.formWrapper{
    width: 70vw;
    min-width: 400px;
    height: 100px;
    display: block;
    margin: auto;
    padding: 50px 0;
}

textarea::-webkit-scrollbar{
    width: 10px;
}

textarea::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.title,
.body{
    width: 90%;
    min-height: 100px;
    height: auto;
    outline: none;
    color: #2d2d2d;
    resize: none;
    padding: 5%;
    margin-bottom: 2%;
    border-radius: 10px;
    border-bottom: 1px solid #1b1b1b ;
    font-size: 20px;
    font-weight: 200;
}

.title::placeholder,
.body::placeholder{
    color: #2d2d2d;
}
