.post{
    width: 70vw;
    min-width: 400px;
    height: 100px;
    display: block;
    margin: auto;
    padding: 50px 0;
}

.postbody{
    margin: 10px 0 20px;
    line-height: 30px;
}

.metadata{
    @media (min-width: 500px){
        display: flex;
        align-items: top;
    }
}

.metainfo{
    padding-right: 1em;
}